<!-- HEADER-1 ============================================= -->
		<header id="header-1" class="header navik-header header-shadow center-menu-1 header-transparent">
			<div class="container">
				<!-- NAVIGATION MENU -->
				<div class="navik-header-container">
					<!-- CALL BUTTON -->
				    <div class="callusbtn"><a href="tel:123456789"><i class="fas fa-phone"></i></a></div>
					<!-- LOGO IMAGE -->
	                <div class="logo" data-mobile-logo="./assets/images/logo-02.png" data-sticky-logo="./assets/images/logo-02.png">
	                	<a href="#hero-5"><img src="./assets/images/logo-02.png" alt="header-logo"/></a>
					</div>
					<!-- BURGER MENU -->
					<div class="burger-menu">
						<div class="line-menu line-half first-line"></div>
						<div class="line-menu"></div>
						<div class="line-menu line-half last-line"></div>
					</div>
					<!-- MAIN MENU -->
	                <nav *ngIf="isClient"  class="navik-menu menu-caret navik-yellow">
	                	<ul class="top-list">
	                		<!-- DROPDOWN MENU -->
	                		<li><a [routerLink]="['/acceuil/restaurants']">Restaurants</a>
	                		</li>
						</ul>
						<ul>
							<!-- BASKET ICON -->
							<li class="basket-ico ico-30">
					        	<a [routerLink]="['/acceuil/panier']">
					        		<span class="ico-holder"><span class="flaticon-shopping-bag"></span> <em class="roundpoint">2</em></span>
					        	</a>
					        </li>
                            <li class="basket-ico ico-30">
					        	<a href="cart.html">
					        		<span class="ico-holder"><i class="fa fa-logout"></i>Déconnexion</span>
					        	</a>
					        </li>
	                    </ul>
                    </nav>	
                    <!-- END MAIN MENU -->


				</div>	<!-- END NAVIGATION MENU -->


			</div>     <!-- End container -->
		</header>	
		<!-- END HEADER-1 -->
    
    <!-- PAGE CONTENT
    ============================================= -->	
    <div id="page" class="page">

     <!-- HERO-5
        ============================================= -->	
        <section id="hero-5" class="hero-section">
            <div class="bg-fixed bg-inner division">


                <!-- HERO TEXT -->
                <div class="container">							
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hero-5-txt text-center white-color">

                                <!-- Title -->	
                                <h2>Pizza</h2>

                                <!-- Image -->
                                <div class="hero-5-img">
                                    <img class="img-fluid" src="./assets/images/hero-5-img.png" alt="hero-image">
                                </div>

                            </div>  
                        </div>	 
                    </div>	 <!-- End row -->
                </div>	 <!-- END HERO TEXT -->


                <!-- SECTION OVERLAY -->	
                <div class="bg-fixed white-overlay-wave"></div>


            </div>	   <!-- End Inner Content -->
        </section>	<!-- END HERO-5 -->	


    <router-outlet></router-outlet>

       
       
 <!-- BANNER-4
        ============================================= -->
        <section id="banner-4" class="bg-fixed wide-100 banner-section division">
            <div class="container">
                 <div class="row">


                     <!-- BANNER TEXT -->
                    <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                        <div class="banner-4-txt text-center">

                            <!-- Title  -->
                            <h4 class="h4-xl">We Guarantee</h4>
                            
                            <!-- Title  -->
                            <h2>30 Minutes Delivery!</h2>

                            <!-- Text -->	
                            <p class="p-lg">Aliquam a augue suscipit, luctus neque purus ipsum neque undo dolor primis libero tempus, 
                                blandit a cursus varius luctus neque magna
                            </p>

                            <!-- Call Button -->
                            <a href="tel:123456789" class="btn btn-lg btn-red tra-red-hover">Call: 789-654-3210</a>

                        </div>
                    </div>


                 </div>      <!-- End row -->
            </div>	    <!-- End container -->		
        </section>	<!-- END BANNER-4 -->




        <!-- FOOTER-3
        ============================================= -->
        <footer id="footer-3" class="footer division">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">


                        <!-- FOOTER LOGO -->	
                        <div class="footer-logo"><img src="./assets/images/logo-02.png" alt="footer-logo"/></div>

                        <!-- FOOTER SOCIAL LINKS -->
                        <div class="footer-socials-links">

                            <!-- List -->
                            <ul class="foo-socials text-center clearfix">																	
                                <li><a href="#" class="ico-facebook"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class="ico-twitter"><i class="fab fa-twitter"></i></a></li>	
                                <li><a href="#" class="ico-instagram"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#" class="ico-youtube"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#" class="ico-pinterest"><i class="fab fa-pinterest-p"></i></a></li>
                                                    
                                <!--
                                <li><a href="#" class="ico-dribbble"><i class="fab fa-dribbble"></i></a></li>		
                                <li><a href="#" class="ico-behance"><i class="fab fa-behance"></i></a></li>										
                                <li><a href="#" class="ico-linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#" class="ico-tumblr"><i class="fab fa-tumblr"></i></a></li>	
                                <li><a href="#" class="ico-google-plus"><i class="fab fa-google-plus-g"></i></a></li>							
                                <li><a href="#" class="ico-vk"><i class="fab fa-vk"></i></a></li>-->
                            </ul>
                                                        
                        </div>


                        <!-- FOOTER LINKS -->
                        <div class="footer-links">
                            <ul class="bottom-footer-list clearfix">	
                                <li><p><a href="#">About</a></p></li>
                                <li><p><a href="#">Menu</a></p></li>
                                <li><p><a href="#">Order Now</a></p></li>
                                <li><p><a href="#">Gallery</a></p></li>
                                <li><p><a href="#">Gift Cards</a></p></li>
                                <li><p class="last-li"><a href="#">Contacts</a></p></li>
                            </ul>
                        </div>


                        <!-- FOOTER COPYRIGHT -->
                        <div class="footer-copyright">
                            <p>&copy; {{date}} . {{name}}</p>
                        </div>	


                    </div>	
                </div>     <!-- End row -->
            </div>	   <!-- End container -->										
        </footer>	<!-- END FOOTER-3 -->




    </div>	<!-- END PAGE CONTENT -->
  