<!-- CART PAGE ============================================= -->
<section *ngIf="cart"  id="cart-1" class="wide-100 cart-page division">
	<div class="container">
		<!-- CART TABLE -->	
		<div class="row">
			<div class="col-md-12">
				<div class="cart-table mb-70">
					<table id="myTable">
						<thead>
							<tr>
								<th scope="col">Product</th>
								<th scope="col">Price</th>
								<th scope="col">Quantity</th>
								<th scope="col">Total</th>
								<th scope="col">Delete</th>
							</tr>
							</thead>

							<tbody>
								<!-- CART ITEM #1 -->
								<tr *ngFor="let order of cart.order; let i = index" >
									<td data-label="Product" class="product-name">
										<!-- Preview -->
										<div class="cart-product-img">
											<img [src]="order.plat.avatar" alt="cart-preview">
										</div>
										<!-- Description -->
										<div class="cart-product-desc">
											<h5 class="h5-sm">{{order.plat.designation}}</h5>
										</div>

									</td>

									<td data-label="Price" class="product-price"><h5 class="h5-md">{{order.plat.sellprice}}</h5></td>
									<td data-label="Quantity" class="product-qty">
										<input class="qty" (input)="setQuantity($event,i)" type="number" min="1" [value]="order.quantity">
									</td>
									<td data-label="Total" class="product-price-total"><h5 class="h5-md">{{order.totalsellprice}}</h5></td>
									<td data-label="Delete" class="td-trash"><i class="far fa-trash-alt"></i></td>

								</tr>
							</tbody>

					</table>
				</div>
			</div>
		</div>	<!-- END CART TABLE -->


		<!-- CART CHECKOUT -->		
		<div class="row">

			<!-- DISCOUNT COUPON -->
			<div class="col-lg-8">
				<div class="discount-coupon row pt-15">

					<!-- Form -->
					<div class="col-md-8 col-lg-7">
						<form class="discount-form">
									
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Coupon Code" id="discount-code">								
								<span class="input-group-btn">
									<button type="submit" class="btn btn-salmon tra-salmon-hover">Apply Coupon</button>
								</span>										
							</div>
										
						</form>	
					</div>


					<!-- Button -->
					<div class="col-md-4 col-lg-5 text-right">
						<a onClick="window.location.reload()" class="btn btn-md btn-salmon tra-salmon-hover">Update Cart</a>
					</div>

				</div>
			</div>


			<!-- CHECKOUT -->
			<div class="col-lg-4">
				<div class="cart-checkout bg-lightgrey">

					<!-- Title -->
					<h5 class="h5-lg">Cart Total</h5>

					<!-- Table -->
					<table>
						<tbody>
							<tr>
								<td>Sous-total</td>
								<td> </td>
								<td class="text-right">{{cart.totalsellprice}} Ar</td>
							</tr>
							<tr>
								<td>Frais</td>
								<td> </td>
								<td class="text-right">{{cart.frais}} Ar</td>
							</tr>
							<tr class="last-tr">
								<td>Total</td>
								<td> </td>
								<td class="text-right">{{totalWithFrais}} Ar</td>
							</tr>
							</tbody>
					</table>

					<!-- Button -->
					<a href="#" class="btn btn-md btn-salmon tra-salmon-hover">Proceed To Checkout</a>

				</div>
			</div>	<!-- END CHECKOUT -->


		</div>	  <!-- END CART CHECKOUT -->


	</div>	   <!-- End container --> 
</section>	
<!-- END CART PAGE -->	